@charset 'UTF-8';

$font-family: "Avenir Next", sans-serif;
$background-color: #F9F9F9;
$navigation-color: #1A1A1C;
$navigation-inner-color: #202021;

@import 'base/*.css';
@import 'components/*.css';
