.bar-chart rect {
  shape-rendering: crispEdges;
}

.bar-chart .axis text {
  font-size: 14px;
}

.bar-chart .axis.y line {
  shape-rendering: crispEdges;
  stroke: #ddd;
}

.bar-chart .axis.y g:nth-child(even) text {
  display: none;
}

.bar-chart .axis.y g:nth-child(even) line {
  stroke: #eee;
}

.bar-chart .axis.y g:first-of-type {
  display: none;
}
