.chart-selector .item {
  margin: 6px 12px 6px 6px;
  border-left: 4px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: border-color 200ms;
}

.chart-selector .item header {
  margin: 9px;
  color: white;
  font-weight: 100;
  font-size: 12px;
  color: #FFF;
}

.chart-selector .item .inner {
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  background-color: $navigation-inner-color;
  transition: border-color 200ms;
}

.chart-selector .counters {
  display: flex;
  align-items: center;
  height: 70px;
  margin-bottom: 12px;
}

.chart-selector .counter {
  color: #ABABAB;
  flex-grow: 1;
}

.chart-selector .counter > span {
  text-align: center;
  display: block;
}

.chart-selector .counter .value {
  font-size: 20px;
}

.chart-selector .counter .sub {
  font-size: 10px;
}

.chart-selector .counter .name {
  font-size: 10px;
  text-transform: uppercase;
}
